/* *****************************- 顶部导航条a标签的默认效果  -******************************** */
.navbar .navbar-nav>li>a {
    background: transparent;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background: rgba(0,0,0,.1);
    color: #fff;
}
.ace-settings-container{
    top: 60px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: #2c5976;
}
@media only screen and (max-width: 991px)  {
    .navbar .navbar-nav>li, .navbar .navbar-nav>li {
        display: inline-block;
    }
}
/* *****************************- sidebar  -******************************** */
#sidebar {
    margin-top: 5px;
    z-index: 99999;
    background-image: linear-gradient(to bottom,#FFF 0,#EEE 100%);
    background-image: -webkit-linear-gradient(top,#FFF 0,#EEE 100%);
    background-image: -o-linear-gradient(top,#FFF 0,#EEE 100%);
    background-image: linear-gradient(to bottom,#FFF 0,#EEE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
}
#ace-settings-container {
    z-index: 1000;
}
#sidebar .sidebar-legend{
    z-index: 1024;
}
/* *****************************- 音乐播放器  -******************************** */
.m-MP3player{
    padding: 3px 6px;
    background: #eee;
    border: 1px solid #ccc;
    opacity: .75;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    z-index: 1025;
}
.player-music{
    position: fixed;
    top: 200px;
    right: 0px;
    overflow: hidden;
    z-index: 1025;
}
.player-music .jp-interface, .player-music .jp-audio,
.player-music .jp-audio-stream, .jp-video{
    background: transparent;
}
.player-music .jp-audio, .jp-audio-stream, .jp-video{
    border: none;
}
.player-music .jp-audio .jp-interface, .jp-audio-stream .jp-interface{
    height: 48px;
}
.player-music .jp-audio .jp-controls {
    width: 380px;
    padding: 0 10px 0;
}
.player-music .jp-audio .jp-progress,
.player-music .jp-volume-controls{
    top: 17px;
}
.player-music .jp-audio .jp-time-holder{
    top: 32px;
}
@-webkit-keyframes scrollText2 {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-204px);
    }
    100%{
        transform: translateX(-408px);
    }

}
@keyframes scrollText2 {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-304px);
    }
    100%{
        transform: translateX(-608px);
    }

}
.subtitles-box{
    position: absolute;
    top: 0;
    left: 100px;
    width: 300px;
    height: 15px;
    overflow: hidden;
    z-index: 1026;

}
.subtitles{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    -webkit-animation:scrollText2 10s infinite  cubic-bezier(1,0,0.5,0) ;
    animation:scrollText2 10s infinite  cubic-bezier(1,0,0.5,0) ;
}
.subtitles div{
    height: 15px;
    width: 300px;
    overflow: hidden;
    display: inline-block;
}
.subtitles:hover{
    animation-play-state:paused;
    -webkit-animation-play-state:paused;
}
/* *****************************- 音频面板  -******************************** */
.widget-main .main-left{float: left;  width: 150px;}
.widget-main .main-right{margin-left: 150px;/*==等于左边栏宽度==*/}
.widget-toolbar > a {cursor: pointer;}
/* *****************************- 实时音频监听面板 -******************************** */

.col-lg-3.widget-container-col .tab-content{
        padding: 3px 5px;
}
.widget-main .tab-content .strapping{
    background: #A5A5A5;
    position: absolute;
    top:37px;
    left: 2px;
    width: 80px;
    height: 240px;
}
.widget-main  .real-time-data{
    margin-bottom: 8px;;
    height: 250px;
}
.real-time-data tr td:first-child{
    min-width: 70px;
}
.real-time-data tr td:last-child{
    max-width: 130px;
    padding-right: 54px;
    overflow-x: hidden;
    white-space: normal;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
.real-time-data tr td:last-child.register-tag{
    padding-right: 8px;
}
.real-time-data .tb-tail{
    display: inline-block;
    position: absolute;
    width: 48px;
    right: 5px;
    top:5px;
    font-size: 11px;
    color: #108398;
}
/* *****************************- 设置频率对话框 -******************************** */
.ui-dialog.ui-widget-content .ui-dialog-titlebar{
    padding: 10px;
}

/* *****************************- 历史音频监听面板 -******************************** */
.widget-box-audioMonitoring .widget-main {
    height: 320px;
}
.history-time-data{
    height: 308px;
}
.history-time-data td a{
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}
.history-time-data .pagination{
    bottom: 37px;
}

/*实时音频监听状态*/
[data-state='1']{
    color: #fff;
    background:#B74635 ;
}
[data-state='0']{
    color: #fff;
    background:#87b87f;
}
.site-states{
    padding: 1px 2px;
    position: absolute;
    right: 15px;
    font-size: 12px;
}

.site-states[data-state='0']::after{
    content: "通信正常";
}
.site-states[data-state='1']::after{
    content: "通信异常";
}
/*页脚*/
.footer {
    position: fixed;
    width: 100%;;
    bottom: 0;
    background: #fff;
    z-index: 1024 ;
}