body, html,#baiduMap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}

/* 去掉百度地图的logo */
.anchorBL {
    display: none;
}

.m-hunanMap {
    overflow: hidden;
    height: 100%;
    position: relative;
    z-index: 1;
}

.m-hunanMap .m-mapLabel {
    color: #fff;
    background: #ABBAC3;
    padding: 3px 6px;
    font-size: 14px;
}

.m-hunanMap .m-mapLabel[data-alert="0"]{
    background: #ABBAC3;
}
.m-hunanMap .m-mapLabel[data-alert="1"]{
    background: #87B87F;
}
.m-hunanMap .m-mapLabel[data-alert="2"]{
    background: #FFB752;
}
.m-hunanMap .m-mapLabel[data-alert="3"]{
    background: #D15B47;
}


.m-hunanMap .copyright {
    font-size: 11px;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
    color: #333;;
}

.m-hunanMap .copyright a {
    color: #0078A8;;
}
/*站点详细信息板块*/
.m-siteInfoWindow {
    position: absolute;
    left: 90px;
    top: 88px;
    width: 335px;
}
.m-siteInfoWindow tr td:first-child{
    min-width: 70px;
}
.m-siteInfoWindow tr td:last-child{
    max-width: 130px;
    padding-right: 54px;
    overflow-x: hidden;
    white-space: normal;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
.m-siteInfoWindow tr td:last-child.register-tag{
    padding-right: 8px;
}
.m-siteInfoWindow .tb-tail{
    display: inline-block;
    position: absolute;
    width: 48px;
    right: 5px;
    top:5px;
    font-size: 11px;
    color: #108398;
}
.m-siteInfoWindow .tb-tail .Js_setRate{
    display: none;
}
.m-ctrlBox {
    position: absolute;
    right: 10px;
    top: 85px;
    width: auto;
}

.m-deviceInfoBox {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 220px;
    background: rgba(8, 48, 74, .8);
    z-index: 1024;
    overflow-x: hidden;
    overflow-y: auto;
}

.BMap_scaleCtrl.BMap_noprint.anchorTL {
    top: 150px !important;
    left: 5px !important;
}

.m-deviceInfoBox h3 {
    cursor: pointer;
    margin: 0;
}

.m-deviceInfoBox h3:hover {
    background: #72cfd7;
}

.m-deviceInfoBox h3 i {
    padding-right: 10px;
    /*position: relative;*/
    /*left: calc((100% - 410px)/2);*/
}

.m-deviceInfoBox li {
    min-width: 200px;
    list-style: none;
    color: #fff;
}

.m-deviceInfoBox h3,
.navbar-fixed-bottom {
    background-color: #1291a9;
}

.m-deviceInfoBox h3,
.navbar-fixed-bottom div {
    color: #fff;
    text-align: center;
}

/*这是卫星图与普通地图切换模块*/
.BMap_noprint.anchorTR{
    bottom: 25px!important;
    top: auto!important;
}
.BMap_noprint.anchorTR > div > div {
    display: inline-block;
    padding-right: 3px !important;
    width: 120px;
    height: 80px;
    line-height: 132px !important;
    text-align: right !important;
    vertical-align: bottom;
    color: #fff !important
}

.BMap_noprint.anchorTR > div {
    margin-left: 10px;
    border: 2px solid rgb(139, 164, 220);
}


.BMap_noprint.anchorTR > div:first-child > div {
    background-image: url(/images/customs/application/map1.png) !important;
    background-size: 100%;

}

.BMap_noprint.anchorTR > div:last-child > div {
    background-image: url(/images/customs/application/map2.png) !important;
    background-size: 100%;
}
/*地图页面警告图标*/
.map-sidebar{
    position: absolute;
    padding: 4px 6px;
    bottom: 25px;
    left: 8px;
    height: 46px;
    overflow: hidden;
    background: rgba(255, 255, 255,0.9);
}
.map-sidebar span{
    position: relative;
    bottom: 13px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
.map-sidebar #launch{
    display: inline-block;
    overflow: hidden
}
.map-sidebar .btn{
    padding: 4px 7px;
}